*.aux
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.glsdefs
*.idx
*.ilg
*.ind
*.lof
*.lol
*.log
*.lot
*.not
*.out
*.toc
*.ist
*-blx.bib
*.run.xml
*.bcf
*.pdf
*.synctex.gz
*.txss
.packages
thesis.pdf
